@charset "UTF-8";


	
	div.img_small, div.img_box {
		text-align: center;
	}
	
	div.img_box {
		margin-top: 20px;
	}
	
	div.img_small img[src$=".jpg"] {
		width: 36px;
		height: 63px;
		margin: 5px 0;
		border: dotted 1px #38f2fe;
	}

	img[src$=".jpg"] {
		width: 160px;
		height: 150px;
		margin: 3px;
	}
	
	div.img_box > div.img_row img:hover {
		border: solid 5px #D71826;
	}
	
	.page_title {
		color: #D71826;
		text-align: center;
	}
	.page_subtitle{
	 color: blue;
	 text-align: center;
	}
