@charset "UTF-8";

/* form 양식 css : css/common_form.css */

div.main_title {

	color: #004C98;
	text-align: center;
	font-family: "Times New Roman";
	font-size: 25px;
	text-decoration: none;
}

div.input_location {
	text-align:left;
	color: #004C98;
}
div.showMemberPw_location {
	text-align:center;
	color: #004C98;
}

div.message_bold {
	text-align:center;
	color: #004C98;
	font-size: 20px;
	font-weight: bold;
}

input.selfIntroduction {
	width : 300px;
	height : 100px;
	text-align:center;
	color: #004C98;
	font-size: 20px;
}

div.menu_space {
	padding-top: 70px;
	
}
div.bottom_copyright {
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
	padding: 15px 0;
	text-align: center;
	color: #004C98;
}

input.input_box {
	width : 300px;
	height : 40px;
	margin: 5px;
	text-align: center;
}

input.input_email {
	width : 150px;
	height : 40px;
	margin: 5px;
	text-align: center;
}


input.btn_submit {
	background-color : #004C98;
	color: white;
	width : 310px;
	height : 40px;
	margin: 5px;
	text-align:center;
	font-weight: bold;
	
}

input.reset {
	background-color : white;
	color: #004C98;
	width : 50px;
	height : 25px;
	font-weight: bold;
	margin: 5px;
}

input[type="text"]:focus, input[type="password"]:focus { 
	background-color: #EDF0F3;
	}


span.input_label {
	display: inline-block;
	width : 80px;
	
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color:gray;
}

a:hover {
	text-decoration: none;
	background-color: #004C98;
	color: white;
}

a:active {
	text-decoration: none;
}

a.bold {
	font-weight: bold;
}
	
div.top_menu {
	text-align: center;

}	
span.seperator {
	margin: 0 5px;
	font-size: 0.7em;
}